.connections-container {
    height: 100vh;
    width: 100vw;
    background-color: #1b1b1b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; /* Center vertically */
    text-align: center;
}
.form-floating {
    margin: 0 auto;
    text-align: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin: 50px;
    text-align: center;
    justify-content: center;
}
/* .rcard-img-top {
    height: 20vh;
    width: 10vw;
} */

.input-error {
    color: red;
    margin: 20px;
}

#numericInput {
    width: 25vw;
    height: 25px;
    background-color: #191414;
    color: #fff;
    border: 1px solid white;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

.session-button {
    background-color: #1DB954;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.input {
    display: inline-block;
    justify-content: center;
}